<!DOCTYPE html>
<html>

<head>
    <title>Twitter Chatbot</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body class="bg-gray-100 h-screen">
    <div class="bg-gray-800">
        <header class=" flex items-center justify-between w-full px-10 py-5 text-white max-w-[1800px] mx-auto">
            <a href="/" class="">
                <h1 class=" font-bold text-2xl">X chat-bot</h1>
            </a>
            <div class="flex items-center gap-2">
                <a href="/setup"
                    class="text-white text-center font-semibold shadow-md border rounded-sm bg-slate-800 hover:bg-slate-500 cursor-pointer px-4 py-2">
                    Setup account
                </a>
                <a href="/logout"
                    class="text-white text-center font-semibold shadow-md border rounded-sm bg-red-400 hover:bg-red-300 cursor-pointer px-4 py-2">
                    logout
                </a>
            </div>
        </header>
    </div>